@font-face {
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainBox
{
    display: flex;
    margin: 0px;
    padding: 0px;
}

h1
{
    font-size: 500%;
    align-self: center;
    margin: 0;
    color: whitesmoke;
    font-family: norse-bold, sans-serif;
}

h2
{
    font-family: sans-serif;
    margin-left: 60px;
    margin-bottom: 0px;
}

.logo
{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    margin-top: 23.75vh;
    padding: 10px 0px;
}

#odinLogo
{
    height: 10vh;
    width: auto;
}

.leftBox
{
    background-image: url(../images/marek-piwnicki-H6Wov65zqsE-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rightBox
{
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.upper
{
    flex: 1.25;
    background-color: #c7e7f1;
}

.middle
{
    flex: 1;
    box-shadow: 3px 0px 8px #888888;
    z-index: 1;
}

.lower
{
    flex: 1.25;
    background-color: #c7e7f1;
}

.sign_up_form
{
    display:flex;
}

.sign_up_form div
{
    margin-left: 30px;
}

.sign_up_form div div
{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}



.credit
{
    color: white;
    justify-self: center;
    margin-top: 60vh;
    background-color: grey;
    width: 220px;
    font-size: 13px;
    align-self: center;
}

.credit a
{
    color:white;
}

label{
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: smaller;
}

input
{
    border-radius: 3px;
    border: 1px solid;
    width: 12vw;
    height: 2.5vh;
    padding-left: 5px;
}

.upper p
{
    margin-left: 60px;
    margin-top: 17vh;
    font-size: 22px;
    font-weight: 600;
    width: 40vw;
}

.lower div
{
    margin-left: 60px;
}

button
{
    margin-top: 30px;
    height: 40px;
    width: 210px;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(105, 104, 90);
    color: white;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 2px 2px #888888;
}

.lower p a
{
    text-decoration: none;
    color: rgb(105, 104, 90);
}